.cart-num1 {
    position:absolute;
    bottom:2px;
    background-color:green; 
    border-radius: 50%;
    height:1rem;
    width: 1rem;
    color:red;
    z-index: 1;
}        

.cart-num1  p {
    position: relative;
    bottom:11.5px;
    font-style: normal;
    font-weight: 200;
}